#mainBox{
    width: 1000px;
    height: 500px;
    background-color: black;
    position: relative;

}
#box{
    width: 70px;
    height: 70px;
    background-color: orange;
    position: absolute;
    transition: all 2s;
}
